<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Hit&Run</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <style type="text/css">
      .liked {
        background: green;
      }
      .card {
        width: 250px;
        background: #ccc;
        padding: 10px;
        margin: 5px;
      }
      .panel {
        max-width: 300px;
        border: 1px solid #999;
        margin-bottom: 15px;
      }
      .panel > * {
        padding: 15px;
      }
      .panel .title {
        border-bottom: 1px solid #999;
      }
      .panel .footer {
        border-top: 1px solid #999;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>

    <template id="like-component-tpl">
      <button :class="{liked: liked}" @click='toggle_like()'>Like {{ like_count }}</button>
    </template>
    <template id="alert-component-tpl">
      <button @click="on_click()">Click Me</button>
    </template>

    <template id="balance-tpl">
      <div>
        <show @showBalance="show_balance"></show>
        <div v-if="show">Your Balance: </div>
      </div>
    </template>

    <template id="balance-show-tpl">
      <button @click="on_click()">Display Balance</button>
    </template>

    <template id="mixins-tooltip">
      <div>
        <span @mouseenter='show' @mouseleave='hide'>Move here to see</span>
        <div v-if="visible">
          You can only see this when your mouse move here!
        </div>
      </div>
    </template>

    <template id="mixins-popup">
      <div>
        <button @click="toggle">Show Something</button>
        <div v-if="visible">
          <span @click="hide">X</span>
          <h4>Title</h4>
          <p>
          The only way to actually change state in a Vuex store is by committing a mutation. Vuex mutations are very similar to events: each mutation has a string type and a handler. The handler function is where we perform actual state modifications, and it will receive the state as the first argument
          </p>
        </div>
      </div>
    </template>

    <template id="panel-tpl">
      <div class="panel">
        <div class="title">You Title</div>
        <div class="content">
        <slot name="content-top"></slot>
          [Generic Content]The only way to actually change state in a Vuex store is by committing a mutation. Vuex mutations are very similar to events: each mutation has a string type and a handler.
        <slot name="content-bottom">Default Data</slot>
        </div>
        <div class="footer">For more information here</div>
      </div>
    </template>

    <p>
    <hr>

    <!-- built files will be auto injected -->
  </body>
</html>
